// Remove bullets from infolist
.uabb-info-list.uabb-info-list ul li::before {
  content: none;
}

.uabb-info-list-item .uabb-info-list-icon .uabb-icon-wrap {
  vertical-align: top;
}

// Style accordions
.fl-accordion-button-label {
  font-weight: 500;
  font-size: 1em;
}

// Style Buttons
.fl-builder-content.fl-builder-content a.fl-button {
  @extend .btn;

  .fl-button-text {
    color: $color-white;
  }
}

// Popup width
.fl-node-5cb689ac24ec7.fl-button-lightbox-content {
  max-width: 1200px;
}
