.person {
  margin: 3em 0;

  .col {
    padding-left: 0;
  }

  img {
    object-fit: cover;
  }

  h2, h3 {
    margin: 0;
  }

  .social-icons {
    padding-top: 10px;
    text-align: left;

    li {
      padding: 0;

      &::before {
        content: '';
      }

      a {
        &:hover {
          box-shadow: none;
        }

        &::before {
          left: 0;
        }
      }
    }
  }
}
