// Typography

html {
  font-family: "Josefin Sans", "Roboto", sans-serif;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.accent {
  text-transform: uppercase;
  font-weight: 300;
  overflow: hidden;

  @media #{$medium-and-up} {
    span {
      position: relative;

      &::before, &::after {
        content: '';
        height: 2px;
        top: 50%;
        margin-top: -5px;
        width: 100%;
        background: $primary-color;
        position: absolute;
      }

      &::before {
        right: 100%;
        margin-right: .5em;
      }

      &::after {
        left: 100%;
        margin-left: .5em;
      }
    }
  }
}


// Layout
.vertical-padding-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.vertical-padding-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.horizontal-padding-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.horizontal-padding-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.center-align {
  justify-content: center;
}

.inline-block {
  display: inline-block;
}

.center {
  vertical-align: middle;
}

.flex-wrap {
  flex-wrap: wrap;
}
