/*** Colors ***/
$primary-color: #F3C548;
$secondary-color: #7F3A87;
$success-color: #72B026;
$error-color: #D73073;
$link-color: #32619E;

$black: #000000;

/*** Buttons ***/
$button-color: $primary-color;
$button-font-size-shared: 16px;


// Footer
$footer-bg-color: #212121;
