@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Satisfy');
@import "common/variables";

// Import npm dependencies
$icons-font-path: "~materialize-sass-origin/font/material-design-icons/";
$roboto-font-path: "~materialize-sass-origin/font/roboto/";
@import "~materialize-sass-origin/sass/materialize";
// @import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "common/a11y";
@import "common/global";
@import "components/buttons";
@import "components/cards";
@import "components/cc-icons";
// @import "components/comments";
@import "components/forms";
// @import "components/grid";
@import "components/sharing";
@import "components/wp-classes";

@import "layouts/header";
// @import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
// @import "layouts/tinymce";
