.card-action {
  text-transform: uppercase;
  text-align: center;
}

.primary-color {
  background: $primary-color;
  border-bottom: 4px solid $primary-color-dark;

  a {
    color: color('grey', 'darken-4');
  }
}

.card {
  .card-image {
    position: relative;

    img {
      height: auto;
    }
  }

  .card-content {
    .card-title {
      margin: 0;
      font-weight: bold;
      line-height: inherit;

      a {
        color: color("grey", "darken-4");
      }
    }

    .entry-meta {
      font-style: italic;
    }
  }

  &.horizontal {
    display: flex;
    flex-direction: row;

    .card-image {
      order: 2;
      flex-grow: 1;
      width: 30%;
      overflow: hidden;

      img {
        position: absolute;
        width: auto;
        max-width: none;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    .card-stacked {
      flex-grow: 2;
      width: 70%;
    }

    .card-action {
      text-align: left;

      a {
        color: $primary-color-dark !important;
      }
    }
  }
}
