// Search form
// .search-form {
//   @extend .form-inline;
// }
// .search-form label {
//   font-weight: normal;
//   @extend .form-group;
// }
// .search-form .search-field {
//   @extend .form-control;
// }
// .search-form .search-submit {
//   @extend .btn;
//   @extend .btn-secondary;
// }

a.caldera-forms-modal {
  @extend .btn;
}

.caldera-grid  {
  label {
    font-weight: normal;
    font-size: 14px;
    color: color('grey', 'darken-2');
    text-transform: uppercase;
  }

  input {
    box-sizing: border-box;
  }

  .btn-default {
    @extend .btn;
    @extend .btn-large;
  }
}
