.o2-color-palette-group input {
    display: none;
}

.o2-color-palette-group .color-option {
    width: 100%;
}

.o2-color-palette-group .color-option span {
    line-height: 2em;
}

.o2-color-palette-group input:checked + .color-option {
    background: #ddd;
}
