section.newsletter {
  position: relative;
}

footer.content-info {
  font-size: 16px;
  position: relative;
  color: $color-white;

  .row:last-child {
    margin-bottom: 0;
  }

  h4 {
    color: $color-white;
  }

  img {
    width: auto;
  }

  a {
    color: $color-white;

    &::before {
      display: none;
    }

    &:hover, &:focus {
      &, i {
        color: $color-brand-darkest;
      }
    }

    &.cc {
      text-decoration: none;
    }

    &.privacy-policy {
      white-space: nowrap;
    }
  }

  p {
    a::before {
      display: block;
    }
  }
}
