.hero {
  background-image: url('../images/yellow-swish@2x.png');
  background-size: 100vw auto;
  background-position: bottom center;
  background-color: $color-brand-primary;
  background-repeat: no-repeat;

  p {
    color: $color-gray-darkest;
    font-family: $font-family-serif;
    font-size: $h3-fontsize;
    line-height: 1.1em;
    margin: 2em 0 4em;
  }

  .parallax-faster {
    transform-origin: center bottom;
  }
}
