// Home page
.hero {
  &, .valign-wrapper {
    height: 400px;
  }

  img {
    display: inline-block;
    max-width: 900px;
  }

  p {
    font-family: $font-family-serif;
    font-weight: normal;
  }

  @media #{$small-and-down} {
    img {
      width: 90%;
    }

    p {
      margin-left: 10%;
    }
  }
  @media #{$large-and-up} {
    &, .valign-wrapper {
      height: 500px;
    }
  }
}

@media #{$medium-and-down} {
  .client-logos {
    padding-top: 0;
  }

  .services {
    ul {
      padding-left: 15%;
    }

    li {
      font-size: 1.1em;
    }
  }
}
