.hero {
  height: 500px;

  .col.push-m4 {
    padding-right: 0;
  }

  .parallax-faster {
    margin-top: 80px;
  }

  img {
    display: inline-block;
    max-width: 900px;
  }

  p {
    color: $color-gray-darkest;
    font-family: $font-family-serif;
    font-size: $h3-fontsize;
    line-height: 1.1em;
    margin: 3.5em 0 3em;
  }
}
