.btn {
  font-weight: bold;
  transform: all 0.3s ease;
  color: $color-black;
  white-space: nowrap;

  &::before {
    display: none;
  }

  &:hover, &:focus {
    background-color: $color-brand-darker;
    border-color: $color-brand-darker;
    color: $color-black;
  }

  &.floating {
    background: none;
    border-color: $color-gray-lighter;
    color: $color-white;
  }

  &.icon-appear-right {
    position: relative;

    i.material-icons {
      position: absolute;
      left: 70%;
      height: 100%;
      top: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover, &:focus {
      i.material-icons {
        left: 80%;
        opacity: 1;
      }
    }
  }

  &.secondary {
    background-color: $color-brand-darker;
    border-color: $color-brand-darker;

    &:hover, &:focus {
      background-color: $color-brand-darkest;
      border-color: $color-brand-darkest;
    }
  }
}

.btn-large {
  font-size: 20px;
  padding: 0 5rem;
}

.entry-share-btns {
  text-align: center;
  padding: 2em 0;
}

.entry-share-btn {
  display: inline-block;
  padding-left: 0;

  @media #{$small-and-down} {
    display: block;
    width: 80%;
    margin: 0 auto 10px;
  }

  &::before {
    display: none;
  }

  div {
    display: inline-block;
  }

  path {
    fill: $color-black;
  }

  span {
    vertical-align: 3px;
    color: $color-black;
  }

  a {
    display: block;
    background-color: $color-brand-primary;
    color: $color-black;
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    padding: 10px;
    transform: all 0.3s ease;

    &::before {
      display: none;
    }

    &:hover, &:focus {
      background-color: $color-brand-darker;
    }
  }
}
