@mixin parallax($distance: 0, $perspective: 1) {
  transform: translateZ($distance * $perspective * 1px) scale(abs($distance - 1));
}

.parallax-container {
  transform-style: inherit;
  position: relative;
  overflow: visible;
  height: auto;

  .col {
    transform-style: inherit;
  }

  .parallax-faster {
    position: relative;
    transform-origin: top right;
    z-index: 1;

    @media #{$medium-and-up} {
      top: 15vh;

      @include parallax(0.15);

      &.left-align {
        left: 8vw;
      }
    }
  }

  .parallax-wayback {
    @include parallax(-1);

    top: calc(50% - 50vh);
    left: calc(50% - 50vw);
    transform-origin: bottom right;
  }

  img {
    width: 100%;
  }
}

.has-mega-back {
  box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.5);
  background: none;
  z-index: -1;
}

.mega-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;

  & + * {
    position: relative;
    z-index: 1;
  }
}
