.background-dark {
  background: $color-gray-darker;
  color: $color-white;
  box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.5);
}

.background-darker {
  background: $color-gray-darkest;
  color: $color-white;
  box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.5);
}

.low-poly-dark {
  background-image: url('../images/tile-triangles-dark@2x.png');
  background-repeat: repeat;
}

.dark-swish {
  background-image: url('../images/dark-pattern@2x.png');
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: bottom center;
  background-color: $color-gray-darkest;

  @media #{$small-and-down} {
    background-size: auto;
    background-position: 60% 100%;
  }
}

.yellow-swish {
  background-image: url('../images/yellow-swish@2x.png');
  background-size: 100vw auto;
  background-position: bottom center;
  background-color: $color-brand-primary;
  background-repeat: no-repeat;

  @media #{$small-and-down} {
    background-size: auto;
    background-position: 10% 100%;
  }
}
