html, body:not(#tinymce) {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

html {
  font-family: $font-family-sans-serif;
}

body:not(#tinymce) {
  transform: translateZ(0);
  font-size: 18px;
}

.magic-fixed-pixel {
  position: fixed;
  top: 0;
  width: 1px;
  height: 1px;
  z-index: 1;
}

.magic-pixel {
  width: 1px;
  height: 1px;
}

.viewport {
  background-color: $color-gray-lightest;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  perspective-origin: right bottom;
  perspective: 1px;
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mega-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  &::before {
    display: none !important;
  }
}

.overflow-hidden.overflow-hidden {
  overflow: hidden;
}

@media #{$small-and-down} {
  .small-center {
    text-align: center;
  }
}
