
// Flex grid
.flex-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  .col.col {
    flex: 0 0 auto;
    margin-right: 0;
    position: relative;

    &:not([class*="offset"]) {
      margin-left: 0;
    }
  }
}

.collapse > .col {
  padding-left: 0;
  padding-right: 0;
}

.ratio-4-3.ratio-4-3 {
  height: 0;
  padding-bottom: 75%;
  position: relative;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.col.align-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

@for $i from 1 through 3 {
  .vertical-padding-#{$i} {
    padding-top: #{$i}em;
    padding-bottom: #{$i}em;
  }

  .horizontal-padding-#{$i} {
    padding-left: #{$i}em;
    padding-right: #{$i}em;
  }
}

.flex-center {
  justify-content: center;
}

.flex-height-115 {
  height: 115px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.center {
  vertical-align: middle;
}

.flex-wrap {
  flex-wrap: wrap;
}
