$font-size: (
  "h1": $h1-fontsize,
  "h2": $h2-fontsize,
  "h3": $h3-fontsize,
  "h4": $h4-fontsize,
  "h5": $h5-fontsize,
  "h6": $h6-fontsize,
  "h7": $h6-fontsize
);

@function font-size($key) {
  @if not map-has-key($font-size, $key) {
    @warn "Key not found.";
  }

  @return map-get($font-size, $key);
}

h1, h2, h3, h4, h5, h6 {
  color: $color-gray-darkest;
}

h1, h2, h4 {
  font-family: $font-family-serif;
}

h3, h5, h6 {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

@for $i from 1 through 6 {
  .h#{$i} {
    @extend h#{$i};
  }

  .font-size-h#{$i} {
    font-size: font-size(h#{$i});
    line-height: 1.1em;
  }
}

@media #{$small-and-down} {
  h1, .h1, .font-size-h1 {
    font-size: $h2-fontsize;
  }

  h2, .h2, .font-size-h2 {
    font-size: $h3-fontsize;
  }

  h3, .h3, .font-size-h3 {
    font-size: $h4-fontsize;
  }
}

.serif {
  font-family: $font-family-serif;
}

ul {
  li {
    list-style: none;
    position: relative;
    padding-left: 15px;

    &::before {
      content: '\2022';
      color: $color-brand-primary;
      position: absolute;
      left: 0;
    }
  }
}

a {
  text-decoration: underline;
  transition: color 0.3s ease;
  color: $color-brand-darkest;
  font-weight: bold;
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    background-color: $color-brand-lighter;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.2s ease;
    z-index: -1;
  }

  &:hover, &:focus {
    color: $color-brand-darkest;
    text-decoration: none;

    &::before {
      height: 100%;
    }
  }
}

.strong, strong {
  font-weight: bold;
}

.bigger {
  font-size: 1.2em;
}

.underline {
  border-bottom: 2px solid $color-brand-primary;
  display: inline-block;
}

.bullet {
  color: $color-brand-primary;
}

strong em, em strong {
  font-family: $font-family-serif;
  font-size: 1.15em;
}
