.parallax-container {
  height: 400px;

  body.home & {
    height: 600px;
  }

  img {
    height: auto;
  }

  .parallax {
    img {
      object-fit: cover;
    }
  }
}

.hero {
  h1 {
    color: white;
    line-height: 1em;

    body.home & span {
      display: block;
      font-family: "Satisfy";
      color: $primary-color;
      font-size: 1.5em;
      line-height: 1;
      text-shadow: 0 0 5px $black;
      margin-bottom: -.1em;
    }

    body:not(.home) & {
      text-transform: uppercase;
      font-style: italic;
    }

    @media #{$small-and-down} {
      font-size: 3.5rem;
      line-height: 1;

      strong {
        display: block;
      }
    }
  }
}

.testimonial {
  blockquote {
    color: white;
    text-align: left;
  }
}

.page-content, .entry-content {
  font-size: 18px;

  h2 {
    @extend h4;
  }

  h3 {
    @extend h5;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  hr {
    margin: 3em 0;
  }

  ul {
    padding-left: 1.5em;

    li {
      list-style: disc;

      li {
        list-style: circle;

        li {
          list-style: square;
        }
      }
    }
  }
}

.rpt_style_basic {
  .rpt_custom_btn {
    padding: 0 !important;

    a {
      text-transform: uppercase;
      color: color('grey', 'darken-4') !important;
      @extend .hoverable;

      &:hover, &:focus, &:active {
        background: $primary-color-dark;
      }
    }
  }
}

.page-id-157, .page-id-186 {
  .hero {
    h1 {
      line-height: 1em;
      text-transform: uppercase;
      font-style: italic;
    }
  }

  .page-content {
    max-width: 700px;
    font-size: 1.5em;

    p, ul, ol {
      margin: 2em;
    }

    img {
      // width: 100%;
    }
  }
}
